h1 {
  font-family: "Knewave", cursive;
  font-size: 120px;
}

h2 {
  font-family: "Knewave", cursive;
  font-size: 40px;
  color: #282c34;
}

.Animal-container {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: space-between;
}

.animals {
  height: 100px;
  width: 100px;
}

/*font-family: 'Palanquin Dark', sans-serif;*/
/*<div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> */
